@import 'tailwindcss';

:root {
  .tiptap {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
  }
      
  .ProseMirror {
    outline: none !important;
    padding: 1em 2px;
  }
      
  .ProseMirror .search-result {
    background-color: rgba(255, 217, 0, 0.5);
  }
      
  .ProseMirror .search-result-current {
    background-color: rgba(13, 255, 0, 0.5);
  }
}