@import 'tailwindcss';

@layer utilities {
  .text-gray-default {
    @apply text-[#686868];
  }
}

#root {
  min-height: 100vh;
}

:root {
  .prose {
    height: 100%;
  }

  .tiptap {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
  }

  .ProseMirror {
    outline: none !important;
    height: 100%;
  }

  .ProseMirror .search-result {
    background-color: rgba(255, 217, 0, 0.5);
  }

  .ProseMirror .search-result-current {
    background-color: rgba(13, 255, 0, 0.5);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}
